button {
  border: none;
  background-color: none;
}

.calculatorBody {
  display: grid;
  grid: auto-flow / 3fr 1fr;
  background-color: #323232;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  border: 0.5px solid #1e1e1e;
  box-shadow: inset 0 0 1px 0 rgba(#fff, 1);
}

.display {
  grid-column-start: 1;
  grid-column-end: 3;
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  text-align: right;
  padding: 12px 4px 3px 4px;
}

.misc {
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid: 30px / repeat(3, 30px);
  gap: 0.5px;

  button {
    background-color: #464646;
    color: #fff;
  }
}

.numbers {
  grid-row-start: 3;
  grid-row-end: 7;
  display: grid;
  grid: repeat(4, 30px) / repeat(3, 30px);
  gap: 0.5px;

  button {
    background-color: #656565;
    color: #fff;
  }
}

.operators {
  grid-row-start: 2;
  grid-row-end: 7;
  display: grid;
  grid: repeat(5, 30px) / 30px;
  gap: 0.5px;

  button {
    background-color: #ff9f0a;
    color: #fff;
  }
}

// ordering
.btn1,
.btn2,
.btn3 {
  order: 3;
}

.btn4,
.btn5,
.btn6 {
  order: 2;
}

.btn7,
.btn8,
.btn9 {
  order: 1;
}

.btn0,
.btnDot {
  order: 4;
}

.btn0 {
  grid-column-start: 1;
  grid-column-end: 3;
}
